.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 30vh;
  }
}
